// Breakpoints (width)
$xlarge: 1400px;
$large: 1024px;
$medium: 768px;
$small: 650px;
$xsmall: 360px;

// Default variables
html {
	--base-font-size: 28px;
}

// Default theme
body {
	--bg-color: #ffffff;
	--bg-content-color: #fff;
	--bg-code: #fff;
	--body-color: #000;
	--title-color: #000;
	--progress-bar-color: #00ff00;
	--progress-bar-height: 15px;
	--title-font-size: 40px;
	--desc-font-size: 33px;
	--link-color: #444;
	--link-font-size: 31px;
	--code-font-size: 0.9em;
	--code-line-height: 1.25em;
	--line-color: #000;
	--header-width: 91vw;
	--header-height: 55px;
	--nav-margin-right: 0;
	--post-card-width: 9em;
	--post-card-height: 20em;
	--post-card-margin: 1em 2em 0 0;
	--post-card-padding: 2em 1.5em 0 1.5em;
	--post-card-header-padding: 1em;
	--post-card-tags-padding: 1.75em 0 1em 0;
	--header-height: 55px;
	--line-height: 1.15em;
	--paragraph-height: 28px;
	--paragraph-line-height: 33px;
	--post-margin: 5.5em 0;
	--post-padding: 0 11em;
	--post-description-padding: 0 1em 1em 1em;
	--post-content-padding: 2em 2em 2.5em 2em;
	--post-content-list-padding: 0 2em;
	--space: 45px;
	--space-large: 80px;
}

// XL
@media screen and (max-width: $xlarge) {
	html {
		--base-font-size: 25px;
	}
	body {
		--title-font-size: 33px;
		--desc-font-size: 30px;
		--link-font-size: 28px;
		--header-height: 5vh;
		--post-card-width: 9em;
		--post-card-height: 20em;
		--post-card-margin: 1em 2em 0 0;
		--post-card-padding: 2em 1.5em 0 1.5em;
		--post-margin: 5.5em 0;
		--post-padding: 0 15vw;
		--post-description-padding: 0 0.5em 0.5em 0.5em;
		--post-content-padding: 1em 2em 2.5em 2em;
		--paragraph-height: 28px;
		--paragraph-line-height: 28px;
		--space: 30px;
		--space-large: 40px;
	}
}

// LG
@media screen and (max-width: $large) {
	html {
		--base-font-size: 17px;
	}
	body {
		--title-font-size: 18px;
		--desc-font-size: 18px;
		--link-font-size: 18px;
		--header-height: 5vh;
		--post-card-width: 9em;
		--post-card-height: 16em;
		--post-card-margin: 1em 2em 0 0;
		--post-card-tags-padding: 0 0 1em 0;
		--post-margin: 5.5em 0;
		--post-padding: 0 6em;
		--post-description-padding: 0 0.5em 0.5em 0.5em;
		--post-content-padding: 2em;
		--paragraph-line-height: 22px;
		--space: 1.25em;
		--space-large: 40px;
	}
}

// MD
@media screen and (max-width: $medium) {
	html {
		--base-font-size: 17px;
	}
	body {
		--title-font-size: 20px;
		--desc-font-size: 19px;
		--header-height: 5vh;
		--post-card-width: 9em;
		--post-card-height: 20em;
		--post-card-margin: 1em 2em 0 0;
		--post-card-padding: 2em 1.5em 0 1.5em;
		--post-margin: 5.5em 0;
		--post-padding: 0 6em;
		--post-description-padding: 0 0.5em 0.5em 0.5em;
		--paragraph-height: 28px;
		--paragraph-line-height: 22px;
		--space: 1em;
		--space-large: 40px;
	}
}

// SM
@media screen and (max-width: $small) {
	html {
		--base-font-size: 16px;
	}
	body {
		--title-font-size: 20px;
		--desc-font-size: 19px;
		--link-font-size: 18px;
		--code-font-size: 0.85em;
		--code-line-height: 1.25em;
		--header-width: 92vw;
		--header-height: 1vh;
		--nav-margin-right: 2em;
		--post-card-width: 10em;
		--post-card-height: 20em;
		--post-card-margin: 1em 0;
		--post-card-padding: 2em 1.5em 0 1.5em;
		--post-card-header-padding: 1.3em;
		--post-card-tags-padding: 2.5em 0 2em 0;
		--post-margin: 5.5em 0;
		--post-padding: 0 0;
		--post-description-padding: 0 0 1em 0;
		--post-content-padding: 1.75em 1.75em 2.5em 1.75em;
		--paragraph-height: 15px;
		--paragraph-line-height: 19px;
		--space: 1.75em;
		--space-large: 40px;
		--progress-bar-height: 5px;
	}
}

// XS
@media screen and (max-width: $xsmall) {
	html {
		--base-font-size: 16px;
	}
	body {
		--title-font-size: 20px;
		--desc-font-size: 18px;
		--header-height: 4vh;
		--space: 30px;
		--space-large: 40px;
	}
}

// Override variables for Dark theme
body[data-theme="dark"] {
	--bg-color: #000;
	--bg-content-color: #000;
	--bg-code: rgba(0, 0, 0, 0.3);
	--border-color: rgba(255, 255, 255, 0.1);
	--body-color: #ced8de;
	--title-color: #fff;
	--link-color: #fff;
	--progress-bar-color: #fff;
}
