@import "reset";
@import "variables";
@import "typo";
@import "code";

html {
	width: var(--content-width);
	margin: 0 auto;
	font-size: var(--base-font-size);
}

body {
	padding: 0 var(--space-large);
	background-color: var(--bg-color);
	color: var(--body-color);
}

body,
header {
	transition: color 0.6s, background-color 0.6s, transform 0.6s;
}

hr {
	border-top: 1px solid var(--line-color);
}

a {
	border-bottom: 1px solid var(--body-color);
	&:hover {
		border-bottom: 1px solid var(--link-color);
	}
}
